<html>
    <body>
        <p>Estas buscando: <strong>{{query}}</strong></p>
        {% if articulos %}
        <p>Articulos Encontrados: {{articulos|length}} articulos</p>

        <ul>
            {% for articulo in articulos %}
            <li>
                {{articulo.nombre}} &nbsp; {{articulo.seccion}} &nbsp; {{articulo.precio}}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <P>No se ha encontrado ningun registro
        {% endif %}
        </P>
    </body>
</html>